<!DOCTYPE html>
<html>

<body>
    <form action="/api/v1/mobile/auth/resetPassword" method="post">
        <table>
            <h1>Change Password</h1>
            <table>
                <tr>
                    <td>New-password</td>
                    <td>
                        <input type="text" required name="password" />
                    </td>
                </tr>
                <tr>
                    <td>Confirm-password</td>
                    <td>
                        <input type="text" required name="confirmPassword" />
                    </td>
                    <input type="hidden" name="token" value="<%= token %>" />
                </tr>
                <tr>
                    <td>
                        <input type="submit" />
                    </td>
                </tr>
            </table>
        </table>
    </form>
</body>

</html>